@model IEnumerable<ServiceCommentVM>


<div class="d-flex justify-content-between">
    <h1>دسته بندی ها</h1>
    <div class="d-inline-flex">
        @*<form asp-controller="Category" asp-action="Search" method="get" class="align-self-md-center mx-2">
            <input type="text" name="q" autocomplete="off" />
            <button type="submit" class="btn btn-secondary">جستجو</button>
        </form>*@      
    </div>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ServiceId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreatedUserId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
                <tr>
                    <td scope="row">
                    @item.Id
                    </td>
                    <td>
                    @item.ServiceId
                    </td>
                    <td>
                    @item.OrderId
                    </td>
                    <td>
                    @item.CreatedUserId
                    </td>
                    <td>
                    @item.CreatedAt
                    </td>
                    <td>
                    @item.CommentText
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="ServiceComment"  asp-area="Admin" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
        }
    </tbody>
</table>