@model IEnumerable<App.EndPoints.UI.Areas.Admin.Models.ViewModels.UserMangmntVM>

@{
    ViewData["Title"] = "لیست کاربران";
}


<a style="position: absolute; top: 78px; left: 66px;" type="button" class="btn btn-outline-secondary" 
asp-action="ListRoles" asp-controller="UserManagment">مشاهده مسئولیت ها</a>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>لیست اعضا</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">خانه</a></li>
                <li class="breadcrumb-item active">اعضا</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">جدول داده‌ها</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable text-right">
                            <thead>
                                <tr>
                                    <th scope="col"> @Html.DisplayNameFor(model => model.Id) </th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                                    @*                                    <th scope="col">@Html.DisplayNameFor(model => model.Password)</th>
                                    *@
                                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Roles)</th>
                                    <th scope="col">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {


                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.Name</td>
                                        @*                                        <td>@item.Password</td>
                                    *@
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>
                                            <div>
                                                @foreach (string role in item.Roles)
                                                {
                                                    @role
                                                    <a>|</a>
                                                }
                                            </div>
                                        </td>

                                        <td>
                                            <a class="btn btn-info" asp-controller="UserManagment" asp-action="EditRoles" asp-area="Admin" asp-route-roleId="@item.Id">
                                                ویرایش مسئولیت‌ها
                                            </a>
                                            |
                                            <a class="btn btn-primary" asp-action="Update" asp-area="Admin" asp-route-userId=@item.Id>
                                                ویرایش اطلاعات
                                            </a>
                                            |
                                            <a class="btn btn-danger" asp-action="Remove" asp-area="Admin" asp-route-userId="@item.Id">
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->