@model IEnumerable<CategoryDto>



<main id="main" class="main">

    <div class="pagetitle">
        <h1>لیست خدمات</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">خانه</a></li>
                <li class="breadcrumb-item active">خدمات</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">جدول داده‌ها</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable text-right">
                            <thead>
                                <tr>
                                    <th scope="col"> @Html.DisplayNameFor(model => model.Id) </th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>

                                    <th scope="col">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    Random random = new();
                                    const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                                    var randomId = new string(Enumerable.Repeat(chars, 8)
                                    .Select(s => s[random.Next(s.Length)]).ToArray());

                                    <tr>
                                        <td>@category.Id</td>
                                        <td>@category.Title</td>
                                        <td>
                                            <button style="cursor:pointer" type="button" class="btn btn-danger btn-round text-light" data-toggle="modal" data-target="#@randomId">
                                                حذف دسته بندی
                                            </button>
                                            <div class="modal fade" id="@randomId" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">حذف دسته بندی <span class="badge badge-success mr-2">@category.Title</span></h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            شما در حال حذف دسته بندی <strong class="text-primary">@category.Title</strong> هستید، از حذف این دسته بندی اطمینان دارید؟
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button style="cursor:pointer" type="button" class="btn btn-success btn-round text-light ml-2 mr-2 pr-3 pl-3" data-dismiss="modal">انصراف</button>
                                                            <form asp-area="Admin" asp-controller="Category" asp-action="Delete" method="post">
                                                                <input style="display:none" name="categoryId" value="@category.Id" />
                                                                <button style="cursor:pointer" type="submit" class="btn btn-danger btn-round text-light">حذف کن</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-round btn-success"> ویرایش</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
